# Given to you when you register the server in the dashboard (Settings -> Servers -> Add Server)
AGENT_TOKEN=

# The monitoring API's agent WebSocket endpoint
API_WS_URL=ws://localhost:4000/agent

# How often to send system metrics (ms)
METRICS_INTERVAL_MS=5000

# How often to send PM2 process list (ms)
PROCESS_INTERVAL_MS=5000
